<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingjie.jf"
    android:versionCode="14"
    android:versionName="2.0.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->

    <!--分享权限-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Required -->
    <permission
        android:name="com.mingjie.jf.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.mingjie.jf.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name="com.mingjie.jf.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />


        <meta-data android:name="Mob-AppKey" android:value="1b251708dd383"/>
        <meta-data android:name="Mob-AppSecret" android:value="98d5be06c242c96a0f8da5e397817bc4"/>
        <!-- BaiDuZhuShuShou/360ZhuShou/91AndroidShiChang -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5899257b07fe65218b002cf0" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="android" />

        <meta-data
            android:name="com.mingjie.jf.service.SimpleGlideModule"
            android:value="GlideModule" />

        <activity
            android:name="com.mingjie.jf.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--分享activity-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微信分享回调 -->
        <activity
            android:name="com.mingjie.jf.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 引导页面 -->
        <activity
            android:name="com.mingjie.jf.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <!-- 调试页面 -->
        <activity
            android:name="com.mingjie.jf.activity.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.minghao.cgkx.action.help" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 关于页面 -->
        <activity
            android:name="com.mingjie.jf.activity.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.minghao.cgkx.action.about" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 登录页面 -->
        <activity
            android:name="com.mingjie.jf.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 主页面 -->
        <activity
            android:name="com.mingjie.jf.activity.MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 忘记密码第一步页面 -->
        <activity
            android:name="com.mingjie.jf.activity.ChangePasswordFirstActivity"
            android:screenOrientation="portrait" />
        <!-- 重置密码（忘记密码） -->
        <activity
            android:name="com.mingjie.jf.activity.ChangePasswordTwoActivity"
            android:screenOrientation="portrait" />
        <!-- 注册界面 -->

        <activity android:name=".activity.IntegralMallActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.mingjie.jf.activity.UserRegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 账户设置 -->
        <activity
            android:name="com.mingjie.jf.activity.AccountSetActivity"
            android:screenOrientation="portrait" />
        <!-- 开通存管界面 -->
        <activity
            android:name="com.mingjie.jf.activity.DepositActivity"
            android:screenOrientation="portrait" />
        <!-- 充值界面 -->
        <activity
            android:name="com.mingjie.jf.activity.RechargeActivity"
            android:screenOrientation="portrait" />
        <!-- 我的投资 -->
        <activity
            android:name="com.mingjie.jf.activity.MyInvestActivity"
            android:screenOrientation="portrait" />
        <!-- 债权转让 -->
        <activity
            android:name="com.mingjie.jf.activity.EquitableActivity"
            android:screenOrientation="portrait" />
        <!-- 充值管理 -->
        <activity
            android:name="com.mingjie.jf.activity.RechargeManagerMoneyActivity"
            android:screenOrientation="portrait" />
        <!-- 提现管理 -->
        <activity
            android:name="com.mingjie.jf.activity.ManagerMoneyActivity"
            android:screenOrientation="portrait" />
        <!-- 收购债权 -->
        <activity
            android:name="com.mingjie.jf.activity.PuchaseActivity"
            android:screenOrientation="portrait" />
        <!-- 借款详情 -->
        <activity
            android:name="com.mingjie.jf.activity.LoanDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 收益计算界面 -->
        <activity
            android:name="com.mingjie.jf.activity.IncomeCalculatorActivity"
            android:screenOrientation="portrait" />
        <!-- 投标记录界面 -->
        <activity
            android:name="com.mingjie.jf.activity.ThrowMarkHistoryActivity"
            android:screenOrientation="portrait" />
        <!-- 还款计划界面 -->
        <activity
            android:name="com.mingjie.jf.activity.RefundPlanActivity"
            android:screenOrientation="portrait" />
        <!-- 借款人信息界面 -->
        <activity
            android:name="com.mingjie.jf.activity.LoanInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 电子账单界面 -->
        <activity
            android:name="com.mingjie.jf.activity.ElectronicBillActivity"
            android:screenOrientation="portrait" />
        <!-- 实名认证界面 -->
        <activity
            android:name="com.mingjie.jf.activity.RealNameActivity"
            android:screenOrientation="portrait" />
        <!-- 修改手机第一步界面 -->
        <activity
            android:name="com.mingjie.jf.activity.SafePhoneActivity"
            android:screenOrientation="portrait" />
        <!-- 绑定邮箱界面 -->
        <activity
            android:name="com.mingjie.jf.activity.BindEmailActivity"
            android:screenOrientation="portrait" />
        <!-- 修改登录密码界面 -->
        <activity
            android:name="com.mingjie.jf.activity.ModifyPassActivity"
            android:screenOrientation="portrait" />
        <!-- 更多界面 -->
        <activity
            android:name="com.mingjie.jf.activity.MoreActivity"
            android:screenOrientation="portrait" />

        <!-- 公告列表界面 -->
        <activity
            android:name="com.mingjie.jf.activity.ToldActivity"
            android:screenOrientation="portrait" />
        <!-- 意见反馈界面 -->
        <activity
            android:name="com.mingjie.jf.activity.SuggestionActivity"
            android:screenOrientation="portrait" />
        <!-- 服务界面 -->
        <activity
            android:name="com.mingjie.jf.activity.ServiceActivity"
            android:screenOrientation="portrait" />
        <!--修改绑定邮箱第一步-->
        <activity
            android:name="com.mingjie.jf.activity.ChangeBindActivity"
            android:screenOrientation="portrait" />
        <!-- 修改绑定邮箱第二步 -->
        <activity
            android:name="com.mingjie.jf.activity.NextChangeBindActivity"
            android:screenOrientation="portrait" />
        <!-- 修改手机第二步 -->
        <activity
            android:name="com.mingjie.jf.activity.NextSafePhoneActivity"
            android:screenOrientation="portrait" />
        <!-- 手势密码 -->
        <activity
            android:name="com.mingjie.jf.activity.CreateGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 修改手势密码 -->
        <activity
            android:name="com.mingjie.jf.activity.UnlockGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <!-- banner链接网页 -->
        <activity
            android:name="com.mingjie.jf.activity.WebDesActivity"
            android:screenOrientation="portrait" />
        <!-- 验证邮箱第一步 -->
        <activity
            android:name="com.mingjie.jf.activity.ConfirmBindActivity"
            android:screenOrientation="portrait" />
        <!-- 点击转让按钮，跳债权转让界面 -->
        <activity
            android:name="com.mingjie.jf.activity.EquitableAssignmentActivity"
            android:screenOrientation="portrait" />
        <!-- 自动投资 -->
        <activity
            android:name="com.mingjie.jf.activity.AutoInvestActivity"
            android:screenOrientation="portrait" />
        <!-- 账户中的公告详情 -->
        <activity
            android:name="com.mingjie.jf.activity.DetailedActivity"
            android:screenOrientation="portrait" />
        <!-- 创业小伙伴提成 -->
        <activity
            android:name="com.mingjie.jf.activity.PaternerCommisionActivity"
            android:screenOrientation="portrait" />
        <!-- 我的推荐 -->
        <activity
            android:name="com.mingjie.jf.activity.ExclusiveQrCodeActivity"
            android:screenOrientation="portrait" />
        <!-- 创业小伙伴 -->
        <activity
            android:name="com.mingjie.jf.activity.VenturePartnersActivity"
            android:screenOrientation="portrait" />
        <!--跳转银行的页面-->
        <activity
            android:name="com.mingjie.jf.activity.ToBankActivity"
            android:screenOrientation="portrait"></activity>
        <!--用户信息大图-->
        <activity
            android:name="com.mingjie.jf.activity.ImageDetailActivity"
            android:screenOrientation="portrait" />
        <!--借款流程-->
        <activity
            android:name="com.mingjie.jf.activity.BorrowFlowActivity"
            android:screenOrientation="portrait" />
        <!--我的借款-->
        <activity
            android:name="com.mingjie.jf.activity.MyBorrowActivity"
            android:screenOrientation="portrait" />
        <!--还款计划-->
        <activity
            android:name="com.mingjie.jf.activity.RepayPlanActivity"
            android:screenOrientation="portrait" />
        <!--收款明细-->
        <activity
            android:name="com.mingjie.jf.activity.BorrowDetailActivity"
            android:screenOrientation="portrait" />
        <!--投资处理中-->
        <activity
            android:name="com.mingjie.jf.activity.InvestHandActivity"
            android:screenOrientation="portrait" />
        <!--隐私条款-->
        <activity
            android:name="com.mingjie.jf.activity.PrivateActivity"
            android:screenOrientation="portrait" />
        <!--公告详情-->
        <activity
            android:name="com.mingjie.jf.activity.AccountDataActivity"
            android:screenOrientation="portrait" />
        <!--收款计划-->
        <activity
            android:name="com.mingjie.jf.activity.CollectPlanActivity"
            android:screenOrientation="portrait" />
        <!--借款协议-->
        <activity
            android:name="com.mingjie.jf.activity.BorrowAgreementActivity"
            android:screenOrientation="portrait" />
        <!--开通存管引导页-->
        <activity
            android:name="com.mingjie.jf.activity.AdvDetailActivity"
            android:screenOrientation="portrait" />
        <!--开通存管指引-->
        <activity
            android:name="com.mingjie.jf.activity.AdvFlowActivity"
            android:screenOrientation="portrait" />
        <!--绑定银行卡-->
        <activity
            android:name="com.mingjie.jf.activity.CaseCardActivity"
            android:screenOrientation="portrait" />
        <!--银行卡列表-->
        <activity
            android:name="com.mingjie.jf.activity.CaseCardListActivity"
            android:screenOrientation="portrait" />
        <!--私房钱管理-->
        <activity
            android:name="com.mingjie.jf.activity.CaseManagerActivity"
            android:screenOrientation="portrait" />
        <!--私房钱提现-->
        <activity
            android:name="com.mingjie.jf.activity.CaseWithdrawActivity"
            android:screenOrientation="portrait" />
        <!--提现记录列表-->
        <activity
            android:name="com.mingjie.jf.activity.CaseWithdrawRecordActivity"
            android:screenOrientation="portrait" />
        <!--测试标的列表-->
        <activity
            android:name="com.mingjie.jf.activity.TestProductListActivity"
            android:screenOrientation="portrait" />
        <!--客服管理-->
        <activity
            android:name="com.mingjie.jf.activity.ServicePeoPleActivity"
            android:screenOrientation="portrait" />
        <!--回款日历-->
        <activity
            android:name="com.mingjie.jf.activity.ReturnCalendarActivity"
            android:screenOrientation="portrait" />
        <!--回款列表-->
        <activity
            android:name="com.mingjie.jf.activity.ReturnMoneyListActivity"
            android:screenOrientation="portrait" />
        <!--还款日历-->
        <activity
            android:name="com.mingjie.jf.activity.RepayCalendarActivity"
            android:screenOrientation="portrait" />
        <!--还款列表-->
        <activity
            android:name="com.mingjie.jf.activity.RepayListActivity"
            android:screenOrientation="portrait" />
        <!--优惠券-->
        <activity
            android:name="com.mingjie.jf.activity.CouponActivity"
            android:screenOrientation="portrait" />
        <!--转让详情-->
        <activity
            android:name="com.mingjie.jf.activity.EquitableDetailActivity"
            android:screenOrientation="portrait" />
        <!--转让记录-->
        <activity
            android:name="com.mingjie.jf.activity.EquitableRecordActivity"
            android:screenOrientation="portrait" />
        <!--安全保障-->
        <activity
            android:name="com.mingjie.jf.activity.SafeDealActivity"
            android:screenOrientation="portrait" />
        <!--账户 - 转让记录-->
        <activity
            android:name="com.mingjie.jf.activity.AccountEquRecActivity"
            android:screenOrientation="portrait" />
        <!--  账户 - 现金券，加息券，红包  2017-2-23  -->
        <activity
            android:name="com.mingjie.jf.activity.CashCouponActivity"
            android:screenOrientation="portrait" />
        <!--  账户 - 加息券收益明细 -->
        <activity
            android:name="com.mingjie.jf.activity.GainCouponActivity"
            android:screenOrientation="portrait" />
        <!--  返回旧版 -->
        <activity android:name="com.mingjie.jf.activity.OldVersionActivity"
            android:screenOrientation="portrait" />
        <!--  我的积分-->
        <activity android:name="com.mingjie.jf.activity.MyIntegralActivity"
            android:screenOrientation="portrait"/>
        <!-- 提成记录 -->
        <activity android:name=".activity.InvitedManActivity"
            android:screenOrientation="portrait"/>
        <!-- 受邀请人-->
        <activity android:name=".activity.TiChengListActivity"
            android:screenOrientation="portrait"/>
        <!--   抢券中心 -->
        <activity android:name=".activity.GetCouponActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.CouponDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ChargeCouponActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.StaticProctolActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ZiXunFuWuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoanInfoFollowActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>